body{
  text-align: center;

  background-color: #1F4A92 ;
}
h2{
  /* font-family: 'Lobster', cursive; */
  font-family: 'Playfair Display', serif;
  color: orange;
}
#particles-js{
  height: 100vh;
  width: 100%;
}

.card{
  background: linear-gradient(#EDE574,#E1F5C4);
}
