body{
  background-color: 	#D0D0D0;
}

img{
  width: 50%;
}

.navbar{
  font-family: 'Glegoo', serif;
  width: 100vw;
}

.nav-item{
  display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
}
